header {
  background-color: rgb(200, 200, 200);
  padding: 20px;
}

h1 {
    font-size: 30px;
    margin-bottom: 20 px;
    color: #ee3e80;)
}
p {
  margin-bottom: 20px;
  color:  rgb(255, 0, 0);
}

h2 {
  margin-bottom: 20px;
}
