header {
  background-color: rgb(200, 200, 200);
  padding: 20px;
}

h1 {
    font-size: 30px;
    margin-bottom: 20 px;
    color: #ee3e80;)
}
p {
  margin-bottom: 20px;
  color:  rgb(255, 0, 0);
}

h2 {
  margin-bottom: 20px;
}

li.listItems {
  font-size: 30px;
  color: green;
  font-style: helvetica;
}

li {
  font-size: 20px;
  color: #444;
}
